// .custom-notification-alert-warning .notification {
//   color: #1a0647;
//   background-color: #f5bee9;
//   border-color: #a173a1;
// }

// .custom-notification-alert-warning .ui-pnotify .notification .ui-pnotify-icon > span {
//   border-color: #e8b0f0;
// }

body {
  margin: 50px;
}

button {
  width: 100px;
  height: auto;
  padding: 15px;
  background-color: rgb(178, 115, 180);
  border: 1px solid rgb(93, 59, 94);
  border-radius: 4px;
}
.is-hidden {
  display: none;
}

.search-form {
  .input {
    width: 300px;
    height: 28px;
    border: 4px double rgba(110, 95, 80, 0.695);
    border-radius: 4px;
    padding-left: 10px;
    font-style: italic;
    font-size: 14px;
    color: rgb(110, 95, 80);
  }
}
