// .custom-notification-alert-warning .notification {
//   color: #1a0647;
//   background-color: #f5bee9;
//   border-color: #a173a1;
// }

// .custom-notification-alert-warning .ui-pnotify .notification .ui-pnotify-icon > span {
//   border-color: #e8b0f0;
// }

body {
  margin: 50px;
}

.is-hidden {
  display: none;
}

.input {
  width: 300px;
  height: 28px;
  border: 4px double rgba(110, 95, 80, 0.695);
  border-radius: 4px;
  padding-left: 10px;
  font-style: italic;
  font-size: 14px;
  color: rgb(110, 95, 80);
}
